.title {
  text-align: center;
  font-size: medium;
}

.term {
  font-size: 40px;
  text-align: center;
  width: 45%;
  margin: auto;

}

.definition {
  font-size: 20px;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 100px;
  display: none;
}

 .pass,
.fail {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  margin: 0;
  width:20rem;

} 


.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1 1 0;
  gap: 10px;
  margin-top: 10px;
}

button {
color: white;
background-color: rgb(83, 235, 83);
padding: 10px;
border-radius: 15px;
font-size: 25px;  
}

button:hover {
  transform: scale(1.1);
}

.container {

  overflow-y: scroll;
  max-height: 500px;
  border-radius: 5px;
}
